.about {
  top: 60px;
  background: linear-gradient(to left, fadein(@main-blue6, 20%), fadein(@main-blue1, 20%));
  color: white;
  height: 80vh;
  min-height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &-text {
    align-self: center;
    margin-left: 2%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;

      h2 {
        font-size: 4rem;
        padding: 2rem 0;
      }

      p {
        padding: 2rem 0;
      }

    button {
      .button-color(white, @main-blue7);
      .button-style(@btn-width: 150px);
    }
  }

  .image-container {
    width: 70vw;
    min-width: 500px;
    background: linear-gradient(to right, fadein(@main-blue6, 20%), fadein(@main-blue1, 20%));
    border-top-left-radius: 350px;
    border-top-right-radius: 350px;

    img {
      width: 70%;
      margin: 0 15%;
      position: relative;
    }  
  }

}

.top-images {
  width: 100%;
  display: flex;
  justify-content: center;

  img {
    align-self: center; /* or else will stretch images */
    width: 30%;
    padding: 01%
  }
}

.rationale {
  color: white;
  text-align: center;
  background: @main-blue3;
  padding: 5%;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .content-cards {
    display: flex;
    margin: 0 10%;
    align-items: center;
  
    img {
      display: block;
      width: 250px;
    }

    .content-text {
      margin: 5%;

      h2 {
        font-weight: bold;
      }

      ul {
        padding: 0 1.6rem;
        list-style-position: outside;
      }

      li{
        font-size: 1.6rem;
        padding: 1.6rem 0;
       
      }
      li:before {
        content: '\2714 ';
        margin-left: -1em;
        margin-right: .2em;
      }
    }
  }
}

footer {
  background: @footer-gray;
  color: @main-blue7;
}


.about-team {
  h2 {
    color: @main-blue7;
    padding: 3rem 0;
    cursor: pointer;
  }
  
  .team {
    display: flex;
    flex-direction: column;
    
    .team-card {
      flex: 1;
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 100%;
      color: white;    
      font-size: 3rem;
      padding: 2rem 0;
      overflow: hidden;

      .team-content {
        background: white;
        border-radius: 15px;
        margin: 2% 8%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        img {
          width: 30%;
          padding: 1%;
        }

        .team-name {
          width: 40%;

          p {
            color: @main-color;
            font-size: 3rem;
            padding: 3rem;
          }

          a {
            text-decoration: none;
            color: @main-color;
          }
          a:hover {
            color: @main-blue7;
          }

          .fab {
            font-size: 5rem;
          }
        }
      }
      
      .team-hidden {
        display: none;
      }
    }




    .team-lead {
      background: @main-blue1;
    }

    .front-end {
      background: @main-blue2;
    }

    .back-end {
      background: @main-blue3;
    }

    .ux-design {
      background: @main-blue4;
    }

    .ui-design1 {
      background: @main-blue5;
    }

    .ui-design2 {
      background: @main-blue6;
    }
  }
}
